<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Добавление новой категории</title>
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>

<body >
<div >
    <div>
        <h1>Новая категория</h1>
        <form action="#" th:action="@{/addList}" th:object="${addList}" method="post">
            <div >
                <p>Введите название:<input type="text"  th:field="*{name}" /></p>
                <p><input type="submit"  value="Подтвердить" /> <input type="reset"  value="Сброс" /></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>
