
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Getting Started: Handing Form Submission</title>
    <style>
        body {
        background-color: #00FFFF;
        }
    </style>
</head>
<body>
<table align="center" rules ="rows" style = "width:80%;">
    <tr>
        <td>
            <table border="1"  bgcolor="#87CEFA" cellpadding="20" style="width:100%; ">
                <tr>
                    <td align="center" colspan="2">
                        <font ><h1>Заметки</h1></font>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%"  bgcolor="#FFFFFF">
                        <div th:each="list: ${lists}">
                            <a th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>
                        </div>
                        <form action="#" th:action="@{/addList}" th:object="${addList}" method="post">
                            <p><input type="submit" value="+" /> </p>
                        </form>
                    </td>

                    <td bgcolor="#FFFFFF">
                        <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                            <h1>Form</h1>
                            <p>Id: <input type="text" th:field="*{id}" /></p>
                            <p>Message: <input type="text" th:field="*{content}" /></p>
                            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
