<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>

<body>
<div>
    <table align="center" border="1" bgcolor="#FFFFFF" cellpadding="2" cellspacing="1" width="1070">
        <tbody>
        <tr>
            <td bgcolor="#E0FFFF" colspan="2">
                <img align="left" src="/assets/images/zzz.jpg">
                <img align="center" src="/assets/images/notes.jpg">
                <img align="right" src="/assets/images/zzz.jpg">
            </td>
        </tr>
        <tr>
            <td align="center" cellspacing="5" bgcolor="#E0FFFF">Категории</td>
            <td align="center" cellspacing="5" bgcolor="#E0FFFF">Задачи</td>
        </tr>

        <tr>
            <td width="360" >
                <div  class="box" th:each="list: ${lists}">
                    <div class="box" align="center" >
                        <a  style="color:blue;"  th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>
                    </div>
                    <div class="box" >
                    </div>
                    <div class="box" align="right" >
                        <a  th:href="@{/list/{id}/updateList (id=${list.getId()})}">
                            <button  class="button button1"  type="button">Изменить</button>
                        </a>
                    </div>
                    <div class="box" >
                        <form  align="right" action="#" th:action="@{/list/{id}/deleteList (id=${list.getId()})}">
                             <button  class="button button1" type="submit" >Удалить</button>
                        </form>
                    </div>
                </div>
            </td>

            <td >
                <table border="1" width="70%" align="center">
                    <td align="center">
                        <h th:utext="${currentList.getName()}"></h>
                    </td>
                </table>

                <div align="center"  th:each="task: ${tasks}">
                    <p th:href="@{/task/{id}(id=${task.getId()})}" th:utext="${task.getTitle()}"></p>

                    <div class="zz"  align="center">
                        <div class="zz" role="alert" th:if="${task.done}">
                            Выполнена!
                        </div>
                        <div class="zz"  role="alert" th:unless="${task.done}">
                            Не выполнена!
                        </div>
                    </div>

                    <div class="box" align="center" >
                        <div class="box">
                            <a th:href="@{/task/{idt}/updateTask (idt=${task.getId()})}">
                                   <button class="button button2" type="button" >Изменить</button>
                            </a>
                        </div>
                        <div class="box">
                            <form   action="#" th:action="@{/task/{id}/deleteTask (id=${task.getId()})}">
                                    <button  class="button button2" type="submit" >Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td >
                <div align="center">
                    <a  th:href="@{/addList}"><button class="button">Добавить категорию</button></a>
                </div>
            </td>

            <td >
                <div align="center">
                    <a  th:href="@{/addTask/{id}(id=${currentList.getId()})}"><button class="button">Добавить задачу</button></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>







