<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>

<body>
<div >

    <table align="center" border="1" bgcolor="#FFFFFF" cellpadding="1" cellspacing="1" style=" width:80%;">
        <tbody>
        <tr>
            <td bgcolor="#E0FFFF" colspan="2">
                <img align="left" src="/assets/images/zzz.jpg">
                 <img align="center" src="/assets/images/notes.jpg">
                <img align="right" src="/assets/images/zzz.jpg">
            </td>
        </tr>
        <tr>
            <td bgcolor="#E0FFFF">Категории</td>
            <td bgcolor="#E0FFFF">Задачи</td>
        </tr>


        <tr>
            <td width="250" >

                <div th:each="list: ${lists}">
                    <a  th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>
                    <a></a>
                    <a th:href="@{/index/{id}/updateList (id=${list.getId()})}">
                        <button type="button">Изменить</button>
                    </a>
                    <form align="right"  action="#" th:action="@{/list/{id}/deleteList (id=${list.getId()})}">
                        <button type="submit" >Удалить</button>
                     </form>
                </div>

            </td>

            <td >
                <table border="1" width="70%" align="center">
                    <td align="center">
                        <h th:utext="${currentList.getName()}"></h>
                    </td>
                </table>
                <div th:each="task: ${tasks}">
                        <a th:href="@{/task/{id}(id=${task.getId()})}" th:utext="${task.getTitle()}"></a>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <a  th:href="@{/addList}"><button>Добавить категорию</button></a>
                </div>
            </td>
            <td>
                <div align="center">
                    <a  th:href="@{/addTask}"><button>Добавить категорию</button></a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>


