<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Изменение задач</title>
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>

<body >
<div  align="center">
    <div>
        <h1>Изменение задачи</h1>
        <form  action="#" th:object="${task}"  th:action="@{/task/{idt}/updateTask (idt=${task.getId()})}" method="post">
            <p>Введите название: <input type="text"   th:field="*{title}" /></p>
            <div >
                <input type="checkbox" name="done" th:checked="${task.getDone()}"  id="customSwitch1">
                <label for="customSwitch1">Выполнено</label>
            </div>
            <p><input type="submit"  value="Подтвердить" /> <input type="reset"  value="Сброс" /></p>
        </form>
    </div>
</div>
</body>
</html>